<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%-15t] %-5level %-30c{2} - %msg%n}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="de.hasenburg.geofencebroker.tasks.MessageProcessorTask" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="de.hasenburg.geofencebroker.communication.ZMQCommunicator" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>